<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="eCommerce Suite">
    <listeners>
        <listener class-name="org.edspDeloitte.TestComponents.Listeners"/>
    </listeners>
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="ErrorValidation"/>-->
<!--        </run>-->
<!--    </groups>-->
    <test verbose="2" preserve-order="true" thread-count="5" name="Create order">
        <classes>
            <class name="org.edspDeloitte.SubmitOrderTest">
<!--                <methods>-->
<!--                    <include name="createOrder"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" thread-count="5" name="Error validations">
        <classes>
            <class name="org.edspDeloitte.ErrorValidationsTest">
<!--                <methods>-->
<!--                    <include name="wrongCredentialsLogin"/>-->
<!--                    <include name="productErrorValidation"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>

</suite>